@font-face {
    font-family: "myfont";
    src: url(assets/bankgothic-md-bt-medium-webfont.woff) format('woff');
}
html, body {
    margin: 0;
    
    background-image: url(images/section1\ bg.jpg);
    
    /* background positioning - like in design - is possible, but probably the easiest way is to cut bgImage in PS (or even paint ;)) */
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100%;
    font-size: 18px;
}

/* ---HEADER--- */

#hamburger {
    position: absolute;
    right: 0;
    height: 40px;
    display: none;
}
.iks {
    content: url('assets/iks.svg');
    padding-right: 30px !important;
}
header {
    position: fixed;
    width: 100%;
}
.black {
    background: rgba(0,0,0,1);
    
    transition: background 2.5s, height 1s;
    height: 60px;
    padding-top: 15px;
    display:flex;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
}
#logo {
    height: 50px;
}
#logo.resize {
    margin-bottom: 15px;
    height: 40px;
    transition: height 1s;
}
ul {
    padding: 0;
}
ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 17px;
    text-transform: uppercase;
    font-family: myfont;
    font-weight: 400;
    font-size: 0.95rem;
}
ul li:nth-child(4) {
    border: solid 2px white;
    border-radius: 10px;
    margin-left: 25px;
    
}
ul li:nth-child(4) a {
    text-decoration: none;
    color: white;
}

/* Nav Items effects */

ul li:nth-child(4):hover {
    background: white;
    color: black;
    border-color: white;
}
ul li:nth-child(4):hover a {
    color: black;
}
ul li:nth-child(5) {
    display:none;
}
.navItems {
    text-decoration: none;
    color: white;
}
.navItems::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}  
.navItems:hover::after {
    width: 50%;
    transition: width .3s;
} 
.navItems:focus::after {
    width: 100%;
    transition: width .3s;
}

/* SECTION */

section {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* OFERTA */

#oferta {
    height: auto;
    background-color: lightgrey;

}

#oferta > .oferta_pasek {
    height: 60px;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
}

#oferta > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 60px;
    margin-top: 40px;
    margin-bottom: 0px;

}

#oferta > ul > li {
    height: auto;
    width: 25%;
    background-color: white;
    padding: 10px;
    margin: 20px;
}

/* REALIZACJE */

#realizacje {
    height: auto;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#realizacje > .realizacjePasek {
    height: 60px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#realizacje > #carouselExampleIndicators {
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80%;
   
    
}

.d-block.w-100 {
    object-fit: contain;
}
/* ----------------------------------------------------- */






/* --- RWD --- */
@media (max-width:768px) {
    /* --- HEADER --- */
    /* toggling element */
    .active {
        display: flex;
        flex-direction: column;
        background-color: #001820;
        z-index: 1;
        height: 100%;
        position: fixed;
    }
    #hamburger {
        display:block;
        height: 20px;
        padding-top: 30px;
        padding-right: 25px;
        z-index: 5;
    }
    nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    nav #logo {
        padding-top:20px;
        width: 115px;
        z-index: 5;
    }
    ul {
        display:none;
        width: 100%;
        padding-top: 80px; 
    }
    ul li {
        display: block;
        padding: 30px;
        margin: 0px auto;
    }
    ul li:nth-child(4) {
        margin: 20px auto;
        padding: 10px 50px;
    }
    ul li:nth-child(5) {
        display: flex;
        justify-content: space-around;
        width: 75%;
        padding: 35px 0px;
    }

}

